#goals {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 1fr;
}

h1 {
    grid-column: 1/-1;
    grid-row: 1;
    margin: 0 0 0 20px;
}

input {
    outline: none;
    border: none;
    background-color: var(--background-colour);
    font-family: "Pavanam",sans-serif;
}

#input-goal {
    width: 100%;
    margin: 0 0 0 5px;
    grid-column: 2/-3;
    grid-row: 1;
    align-self: flex-start;
}

#goalLine {
    width: 100%;
    grid-column: 2/-3;
    grid-row: 1;
    align-self: flex-end;
}

#add-goal-button {
    width: 20px;
    height: 20px;
    grid-column: -3/-2;
    grid-row: 1;
    align-self: center;
    justify-self: flex-end;
    line-height: 0px;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
}

#add-goal-button:hover {
    border: 2px solid gray;
}

#delete-goal-button {
    width: 15px;
    height: 15px;
    justify-self: flex-end;
    line-height: 0px;
    font-size: 22px;
    overflow: hidden;
    color: rgba(200,100,100,.5);
}

#delete-goal-button:hover {
    color: rgb(200,100,100);
}
#input-goal-form {
    display: grid;
    grid-template-columns: 20px 30px 1fr 30px 20px;
    grid-template-rows: 25px;
}

#goals-section {
    width: 100%;
    height: 100%;
    padding: 20px;
    grid-column: 1/-1;
    grid-row: 3;
}

.goal-item {
    width: 100%;
    height: 25px;
    margin: 10px 0 0;
    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr 20px;
    background-color: var(--background-colour);
}

.tikbox {
    justify-self: flex-start;
}

.goal-text {
    justify-self: flex-start;
    font-family: "Pavanam",sans-serif;
    text-wrap: wrap;
}