---
import Layout from '../layouts/Layout.astro';
import HeaderBack from '../components/HeaderBack.astro';
---

<Layout title="Bunny Farm">
	<HeaderBack title="bunny farm"/>
	<main>
		<img id="farm" src="/farm.svg" alt="Line illustration of a farm and sun."/>
		<div id="bunny-pen">
			<img class="bunny" src="/bunnyBlue.svg" alt="blue bunny"/>
			<img class="bunny" src="/bunnyGreen.svg" alt="green bunny"/>
			<img class="bunny" src="/bunnyYellow.svg" alt="yellow bunny"/>
			<img class="bunny" src="/bunnyLightBlue.svg" alt="light blue bunny"/>
			<img class="bunny" src="/bunnyOrange.svg" alt="orange bunny"/>
			<img class="bunny" src="/bunnyLightOrange.svg" alt="lignt orange bunny"/>
		</div>
	</main>
</Layout>

<style>
	#farm {
		padding: 0 90px 0 0;
		grid-column: 1/-1;
		grid-row: 1;
		justify-self: center;
	}
	main {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 300px 1fr;
		justify-items: flex-start;
	}
	#bunny-pen {
		width: 100%;
		height: 100%;
		position: relative;
		grid-column: 1;
		grid-row: 2;
		overflow: hidden;
	}
	.bunny {
		width: 58px;
		position: absolute;
		top: 0;
		left: 0;
	}
	.bunny:nth-last-of-type(1) {
		left: 85%;
	}
	.bunny:nth-last-of-type(2) {
		left: 8%;
	}
	.bunny:nth-last-of-type(3) {
		left: 0%;
	}
	.bunny:nth-last-of-type(4) {
		top: 20%;
		left: 30%;
	}
	.bunny:nth-last-of-type(5) {
		top: 50%;
		left: 60%;
	}
	.bunny:nth-last-of-type(6) {
		top: 75%;
		left: 25%;
	}
	.hop {
		animation: 9s ease-in-out infinite hop;
	}
	.bunny-hop {
		animation: 1.1s ease-in alternate infinite bunny-hop;
	}
	@keyframes bunny-hop {
		0% {transform: translate(0px,30px);}
		50% {transform: translate(10px,0px);}
		100% {transform: translate(20px,30px);}
	}
	/* @keyframes hop {
		0% {transform: translate(700px,50px);}
		10% {transform: translate(700px,50px);}
		25% {transform: translate(600px,0px);}
		45% {transform: translate(575px,50px);}
		55% {transform: translate(575px,50px);}
		70% {transform: translate(475px,0px);} 3.75
		90% {transform: translate(450px,50px);}
		100% {transform: translate(450px,50px);}
	} */
	@keyframes hop {
		0% {transform: translate(700px,50px);} 
		2.5% {transform: translate(700px,50px);} /* same 2.5 */
		6.25% {transform: translate(600px,0px);} /* -100 3.75 */
		11.25% {transform: translate(575px,50px);} /* -25 5 */
		13.75% {transform: translate(575px,50px);}
		17.5% {transform: translate(475px,0px);}
		22.5% {transform: translate(450px,50px);}
		25% {transform: translate(450px,50px);}
		28.75% {transform: translate(350px,0px);}
		33.75% {transform: translate(325px,50px);}
		36.25% {transform: translate(325px,50px);}
		40% {transform: translate(225px,0px);}
		45% {transform: translate(200px,50px);}
		47.5% {transform: translate(200px,50px);}
		51.25% {transform: translate(100px,0px);}
		51.25% {transform: translate(75px,0px);}
	}
</style>