---
import Layout from '../layouts/Layout.astro';
import HeaderBack from '../components/HeaderBack.astro';
---

<Layout title="Bunny Farm">
	<HeaderBack title="bunny farm"/>
	<main>
		<h1>Bunny Farm</h1>
	</main>
</Layout>