---
import Layout from '../layouts/Layout.astro';
import HeaderBack from '../components/HeaderBack.astro';
---

<Layout title="Bunny Farm">
	<HeaderBack title="bunny farm"/>
	<main>
		<img id="farm" src="/farm.svg" alt="Line illustration of a farm and sun."/>
		<div id="bunny-pen">
			<img id="bunny1" class="bunny-hop" src="/bunnyBlue.svg" alt="blue bunny"/>
		</div>
	</main>
</Layout>

<style>
	#farm {
		padding: 0 90px 0 0;
		grid-column: 1/-1;
		grid-row: 1;
		justify-self: center;
	}
	main {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 300px 1fr;
		justify-items: flex-start;
	}
	#bunny-pen {
		width: 100%;
		height: 100%;
		grid-column: 1;
		grid-row: 2;
	}
	.bunny-hop {
		/* grid-column: 1;
		grid-row: 2;
		align-self: flex-start; */
		/* animation: 2s ease-in-out forwards bunny-hop; */
		transform: translateX(80vw);
	}
	/* @keyframes bunny-hop {
		0% {
			transform: translateX(100vw);
		}
		100% {
			transform: translateX(calc(0vw - 56px));
		}
	} */
</style>