---
import Layout from '../layouts/Layout.astro';
import HeaderBack from '../components/HeaderBack.astro';
---

<Layout title="Check Ins">
	<HeaderBack title="check ins"/>
	<main>
		<h1>Check Ins</h1>
	</main>
</Layout>