---
import Layout from '../layouts/Layout.astro';
import HeaderBack from '../components/HeaderBack.astro';
---

<Layout title="Goals and Actions">
	<HeaderBack title="goals / actions"/>
	<main>
		<h1>Goals / Actions</h1>
        <h2>Goals</h2>
        <h2>Actions</h2>
	</main>
</Layout>