---
import Layout from '../layouts/Layout.astro';
// import { db, Goals } from 'astro:db';

// const goalsDB = await db.select().from(Goals);
---

<Layout title="Accountability Bunnies">
	<main>
		<section id="check-ins" class="nav-section">
			<h1>Check Ins</h1>
            <div id=check-ins-content-section>
				<h2>Ideal Scenario</h2>
            	<p class="check-ins-content">Imagine your ultimate goal. The location, the people, your role. Close your eyes and imagine the tastes and smells surrounding you. The temperature. The feeling of the air on your skin. And the feeling of the things you are touching. Imagine how you feel. Write it all down.</p>
                <p class="check-ins-content">Keep it somewhere where you can easily find it, like a note on your night stand, or hidden between your matresses, or pinned up inside your closet. Find a place where you can easily glance at it when you feel overwhelmed and close your eyes.</p>
                <p class="check-ins-content">Check in with it daily or as often as you want or not at all. It's all for you. So do whatever you want.</p>
            	<h2>Weekly</h2>
            	<p class="check-ins-content">Each Saturday at 7pm send a text saying if goal was met and if not, why.</p>
            	<h2>Monthly</h2>
            	<p class="check-ins-content">On last day of the month have a call to talk about how things are going.</p>
			</div>
		</section>
		<section id="goals" class="nav-section">
			<h1>This Week's Goals</h1>
			<form id="input-goal-form">
            	<input id="input-goal" type="text" name="goal" placeholder="write your goal here">
            	<button id="add-goal-button" type="submit">+</button>
				<img id="goalLine" src="goalLine.svg" alt="hand drawn line"/>
			</form>
            <div id="goals-section">
                <div class="goal-item">
                    <img class="tikbox" src="tikbox.svg" alt="hand drawn tikbox"/>
                    <div class="goal-text">apply to crc positions</div>
                    <button id="delete-goal-button" >x</button>
                </div>
                <div class="goal-item">
                    <img class="tikbox" src="tikbox.svg" alt="hand drawn tikbox"/>
                    <div class="goal-text">make more copies to send out</div>
                    <button id="delete-goal-button" >x</button>
                </div>
				<!-- {
					goalsDB.map(({ description }) => (
						<div class="goal-item">
							<img class="tikbox" src="tikbox.svg" alt="hand drawn tikbox"/>
                    		<div class="goal-text">{description}</div>
                    		<button id="delete-goal-button" >x</button>
						</div>
					))
				} -->
            </div>
		</section>
		<section id="bunny-farm" class="nav-section">
			<img id="farm" src="/farm.svg" alt="Line illustration of a farm."/>
			<img id="sun" src="/sun.svg" alt="Line illustration of a sun."/>
			<p id="tap-farm-msg">Tap the farm !</p>
			<button id="tap-farm-button">tap here</button>
			<div id="bunny-pen"></div>
		</section>
		<section id="main-menu" class="main-menu">
			<nav id="main-navigation">
				<button class="nav-button" data-menu="check-ins">check ins</button>
				<button class="nav-button" data-menu="goals">goals</button>
				<button class="nav-button" data-menu="bunny-farm">bunny farm</button>
			</nav>
		</section>
		<section id="splash-screen" class="splash-screen">
			<h1 id="app-title">Ac<span class="text-accent">count</span>ability</h1>
			<h2 id="app-sub-title">Bunnies</h2>
			<img id="bunny-face" src="/bunnyface.svg" alt="line art of a bunny"/>
			<button id="lets-go-button">let's go</button>
		</section>
		<button id="show-menu-button">menu</button>
	</main>
</Layout>

<style>
	section {
		width: 100%;
		height: 100%;
		grid-column: 1/-1;
		grid-row: 1/-1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateY(0dvh);
		transition: transform .75s ease-in-out;
		background-color: var(--background-colour);
		box-shadow: 0px 0px 20px rgba(0,0,0,.5);
		z-index: 0;
	}
	.splash-screen {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 15dvh minmax(50px,10dvh) 40dvh 1fr;
		justify-items: center;
		align-items: center;
		transform: translateY(0dvh);
		z-index: 4;
	}
	.main-menu {
		z-index: 3;
	}
	.main-menu nav {
		height: 250px;
		display: flex;
        flex-direction: column;
        justify-content: space-between;
		align-items: center;
	}
	.main-menu nav button:nth-of-type(1) {
		width: 130px;
	}
	.main-menu nav button:nth-of-type(2) {
		width: 80px;
	}
	.main-menu nav button:nth-of-type(3) {
		width: 164px;
	}
	#show-menu-button {
		margin: 10px 10px 0 0;
		width: 100px;
		height: 50px;
		grid-column: 1/-1;
		grid-row: 1/-1;
		align-self: flex-start;
		justify-self: flex-end;
		font-size: 24px;
		z-index: 2;
	}
	.reset-z-index {
		z-index: 0;
	}
</style>
<script>
	const date = new Date();
	const dateOptions = {weekday: "long" as const};
	let todayweekday = new Intl.DateTimeFormat("en-US",dateOptions).format(date);
	const tapFarmMsg = document.querySelector('#tap-farm-msg') as HTMLElement;
	const tapFarmButton = document.querySelector('#tap-farm-button') as HTMLElement;

	let totalBunnies: number = 4;

	function onSaturday() {
    	if (todayweekday == 'Friday') {
        	tapFarmMsg.style.display = "inline";
        	tapFarmButton.style.display = "inline";
    	}
    	else {
			tapFarmMsg.style.display = "none";
        	tapFarmButton.style.display = "none";
        	console.log('tap the farm on Saturday');
    	}
	}

	onSaturday();

	const bunnyPen = document.querySelector("#bunny-pen");

	tapFarmButton.addEventListener('click',makeBunnies);

	// function bunnyRush() {
    // 	console.log('tapped the farm');
	// }

	function makeBunnies() {
    	console.log('making bunnies');
    	for (let i: number=0; i<totalBunnies; i++) {
        	makeBunny(i);
    	}
    	tapFarmMsg.style.display = "none";
    	tapFarmButton.style.display = "none";
	}

	const bunnyColours = ["bunnyBlue.svg","bunnyGreen.svg","bunnyOrange.svg"];
	let bunnyArray = [];

	function makeBunny(i) {
    	setTimeout (function() {
        	const bunny = document.createElement("img");
        	bunny.src = bunnyColours[i % bunnyColours.length];
        	bunny.classList.add("bunnyAppear");
        	bunnyPen.appendChild(bunny);
			bunnyArray.push(bunny);
    	},400*i);
		console.log(bunnyArray);
	}



	bunnyPen.addEventListener('click',randomBunnyAnimation);

	function randomBunnyAnimation(e) {
		console.log('bunny clicked ' + e.target);
	}
</script>
