---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Accountability Bunnies">
	<main>
		<h1 class="headings" id="app-title">Ac<span class="text-accent">count</span>ability</h1>
		<h2 class="sub-headings" id="app-subtitle">Bunnies</h2>
		<a id='lets-go' href="/main-menu">let's go</a>
	</main>
</Layout>

<style>
	main {
		margin: -100px 0 0;
	}
	#lets-go {
		width: 80px;
		height: 30px;
		margin: 200px 0 0;
		padding: 5px 10px;
		font-size: 21px;
		font-family: "Life Savers", cursive;
		font-weight: 800;
  		font-style: normal;
		text-align: center;
		border: solid 1px black;
		border-radius: 12px;
	}
</style>
