---
import Layout from '../layouts/Layout.astro';
import "../styles/goals.css";
import "../styles/bunny-farm.css";
---

<Layout title="Accountability Bunnies">
	<main>
		<section id="check-ins" class="nav-section check-ins">
			<h1>Check Ins</h1>
            <div id=check-ins-content-section>
				<h2>Ideal Scenario</h2>
            	<p id="ideal-scenario-content" class="check-ins-content">Imagine your ultimate goal. The location, the people, your role. Imagine the tastes and smells surrounding you. The temperature. The feeling of the air on your skin. And the feeling of the things you are touching. Imagine how you feel. Write it down. Check in here daily or as often as you want. It's your motivation.</p>
            	<h2>Weekly</h2>
            	<p id="weekly-content" class="check-ins-content">Each saturday at 7pm send a text saying if goal was met and if not, why.</p>
            	<h2>Monthly</h2>
            	<p id="monthly-content" class="check-ins-content">On last day of the month have a call to talk about how things are going. Imagine your ultimate goal. The location, the people, your role.</p>
			</div>
		</section>
		<section id="goals" class="nav-section goals">
			<h1>This Week's Goals</h1>
			<form id="input-goal-form">
            	<input id="input-goal" type="text" name="goal" placeholder="write your goal here">
            	<button id="add-goal-button" type="submit">+</button>
				<img id="goalLine" src="goalLine.svg" alt="hand drawn line"/>
			</form>
            <div id="goals-section">
                <div class="goal-item">
                    <img class="tikbox" src="tikbox.svg" alt="hand drawn tikbox"/>
                    <div class="goal-text">apply to crc positions</div>
                    <button id="delete-goal-button" >x</button>
                </div>
                <div class="goal-item">
                    <img class="tikbox" src="tikbox.svg" alt="hand drawn tikbox"/>
                    <div class="goal-text">make more copies to send out</div>
                    <button id="delete-goal-button" >x</button>
                </div>
            </div>
		</section>
		<section id="bunny-farm" class="nav-section bunny-farm">
			<img id="farm" src="/farm.svg" alt="Line illustration of a farm."/>
			<img id="sun" src="/sun.svg" alt="Line illustration of a sun."/>
			<div id="bunny-pen">
				<img class="bunny" src="/bunnyBlue.svg" alt="blue bunny"/>
				<img class="bunny" src="/bunnyGreen.svg" alt="green bunny"/>
				<img class="bunny" src="/bunnyYellow.svg" alt="yellow bunny"/>
				<img class="bunny" src="/bunnyLightBlue.svg" alt="light blue bunny"/>
				<img class="bunny" src="/bunnyOrange.svg" alt="orange bunny"/>
				<img class="bunny" src="/bunnyLightOrange.svg" alt="lignt orange bunny"/>
			</div>
		</section>
		<section id="main-menu" class="main-menu">
			<nav id="main-navigation">
				<button class="nav-button" data-menu="check-ins">check ins</button>
				<button class="nav-button" data-menu="goals">goals</button>
				<button class="nav-button" data-menu="bunny-farm">bunny farm</button>
			</nav>
		</section>
		<section id="splash-screen" class="splash-screen">
			<h1 id="app-title">Ac<span class="text-accent">count</span>ability</h1>
			<h2 id="app-sub-title">Bunnies</h2>
			<img id="bunny-face" src="/bunnyface.svg" alt="line art of a bunny"/>
			<button id="lets-go-button">let's go</button>
		</section>
		<button id="show-menu-button">menu</button>
	</main>
</Layout>

<style>
	section {
		width: 100%;
		height: 100%;
		grid-column: 1/-1;
		grid-row: 1/-1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateY(0dvh);
		transition: transform .75s ease-in-out;
		background-color: var(--background-colour);
		box-shadow: 0px 0px 20px rgba(0,0,0,.5);
		z-index: 0;
	}
	.splash-screen {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 15dvh minmax(50px,10dvh) 40dvh 1fr;
		justify-items: center;
		align-items: center;
		transform: translateY(0dvh);
		z-index: 4;
	}
	.main-menu {
		z-index: 3;
	}
	.main-menu nav {
		height: 250px;
		display: flex;
        flex-direction: column;
        justify-content: space-between;
		align-items: center;
	}
	.main-menu nav button:nth-of-type(1) {
		width: 130px;
	}
	.main-menu nav button:nth-of-type(2) {
		width: 80px;
	}
	.main-menu nav button:nth-of-type(3) {
		width: 164px;
	}
	#show-menu-button {
		margin: 10px 10px 0 0;
		width: 100px;
		height: 50px;
		grid-column: 1/-1;
		grid-row: 1/-1;
		align-self: flex-start;
		justify-self: flex-end;
		font-size: 24px;
		z-index: 2;
	}
	.reset-z-index {
		z-index: 0;
	}
</style>

<script>
	const mainNavigation = document.querySelector('#main-navigation');
	const showMenuButton = document.querySelector('#show-menu-button');
	const letsGoButton = document.querySelector('#lets-go-button');
	const splashScreen = document.querySelector('#splash-screen') as HTMLElement;
	const mainMenu = document.querySelector('#main-menu') as HTMLElement;
	const sections = document.querySelectorAll<HTMLElement>('.nav-section');

	mainNavigation.addEventListener('click',transitionSection);
	showMenuButton.addEventListener('click',showMenu);
	letsGoButton.addEventListener('click',moveSplash);

	function transitionSection(e) {
		sections.forEach ((section) => {
			section.style.zIndex="0";
		});
		let sectionClicked = (e.target.dataset.menu);
		let activeSection = document.querySelector(`#${sectionClicked}`) as HTMLElement;
		activeSection.style.zIndex="1";
		mainMenu.style.transform="translateY(-102dvh)";
	}

	function showMenu() {
		mainMenu.style.transform="translateY(0dvh)";
	}

	function moveSplash() {
		splashScreen.style.transform="translateY(-102dvh)";
	}
</script>