---
import Layout from '../layouts/Layout.astro';
import "../styles/goals.css";
---

<Layout title="Accountability Bunnies">
	<main>
		<section id="motivation" class="nav-section motivation">
			motivation
		</section>
		<section id="check-ins" class="nav-section check-ins">
			check ins
		</section>
		<section id="goals" class="nav-section goals">
			<h1>This Week's Goals</h1>
			<img id="goalLine" src="/goalLine.svg" alt="hand drawn line"/>
		</section>
		<section id="bunny-farm" class="nav-section bunny-farm">
			<img id="farm" src="/farm.svg" alt="Line illustration of a farm and sun."/>
			<div id="bunny-pen">
				<img class="bunny" src="/bunnyBlue.svg" alt="blue bunny"/>
				<img class="bunny" src="/bunnyGreen.svg" alt="green bunny"/>
				<img class="bunny" src="/bunnyYellow.svg" alt="yellow bunny"/>
				<img class="bunny" src="/bunnyLightBlue.svg" alt="light blue bunny"/>
				<img class="bunny" src="/bunnyOrange.svg" alt="orange bunny"/>
				<img class="bunny" src="/bunnyLightOrange.svg" alt="lignt orange bunny"/>
			</div>
		</section>
		<section id="main-menu" class="main-menu">
			<nav id="main-navigation">
				<button class="nav-button" data-menu="motivation">motivation</button>
				<button class="nav-button" data-menu="check-ins">check ins</button>
				<button class="nav-button" data-menu="goals">goals</button>
				<button class="nav-button" data-menu="bunny-farm">bunny farm</button>
			</nav>
		</section>
		<section class="splash-screen">
			<h1 id="app-title">Ac<span class="text-accent">count</span>ability</h1>
			<h2 id="app-sub-title">Bunnies</h2>
			<img id="bunny-face" src="/bunnyface.svg" alt="line art of a bunny"/>
			<button id="lets-go-button">let's go</button>
		</section>
		<button id="show-menu-button">menu</button>
	</main>
</Layout>

<style>
	section {
		width: 100%;
		height: 100%;
		grid-column: 1/-1;
		grid-row: 1/-1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateY(0dvh);
		transition: all .75s ease-in-out;
		background-color: var(--background-colour);
		box-shadow: 0px 0px 20px rgba(0,0,0,.5);
		z-index: 0;
	}
	.splash-screen {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 15dvh minmax(50px,10dvh) 40dvh 1fr;
		justify-items: center;
		align-items: center;
		transform: translateY(-102dvh);
		z-index: 4;
	}
	.main-menu {
		z-index: 3;
	}
	.main-menu nav {
		height: 400px;
		display: flex;
        flex-direction: column;
        justify-content: space-between;
		align-items: center;
	}
	.main-menu nav button:nth-of-type(1) {
		width: 145px;
	}
	.main-menu nav button:nth-of-type(2) {
		width: 130px;
	}
	.main-menu nav button:nth-of-type(3) {
		width: 80px;
	}
	.main-menu nav button:nth-of-type(4) {
		width: 164px;
	}
	#show-menu-button {
		margin: 10px 10px 0 0;
		width: 100px;
		height: 50px;
		grid-column: 1/-1;
		grid-row: 1/-1;
		align-self: flex-start;
		justify-self: flex-end;
		font-size: 28px;
		z-index: 2;
	}
	.reset-z-index {
		z-index: 0;
	}
	#farm {
		padding: 0 90px 0 0;
		grid-column: 1/-1;
		grid-row: 1;
		justify-self: center;
	}
	#bunny-farm {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 300px 1fr;
		justify-items: flex-start;
	}
	#bunny-pen {
		width: 100%;
		height: 100%;
		position: relative;
		grid-column: 1;
		grid-row: 2;
		overflow: hidden;
	}
	.bunny {
		width: 58px;
		position: absolute;
		top: 0;
		left: 0;
	}
	.bunny:nth-last-of-type(1) {
		left: 85%;
	}
	.bunny:nth-last-of-type(2) {
		left: 8%;
	}
	.bunny:nth-last-of-type(3) {
		left: 0%;
	}
	.bunny:nth-last-of-type(4) {
		top: 20%;
		left: 30%;
	}
	.bunny:nth-last-of-type(5) {
		top: 50%;
		left: 60%;
	}
	.bunny:nth-last-of-type(6) {
		top: 75%;
		left: 25%;
	}
</style>

<script>
	const mainNavigation = document.querySelector('#main-navigation');
	const showMenuButton = document.querySelector('#show-menu-button');
	const mainMenu = document.querySelector('#main-menu') as HTMLElement;
	const sections = document.querySelectorAll<HTMLElement>('.nav-section');

	mainNavigation.addEventListener('click',transitionSection);
	showMenuButton.addEventListener('click',showMenu);

	function transitionSection(e) {
		let sectionClicked = (e.target.dataset.menu);
		let section = document.querySelector(`#${sectionClicked}`) as HTMLElement;
		section.style.zIndex="1";
		mainMenu.style.transform="translateY(-102dvh)";
	}

	function showMenu() {
		mainMenu.style.transform="translateY(0dvh)";
		console.log(sections);
		sections.forEach ((section) => 
			section.style.zIndex="0");
	}
</script>