---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Accountability Bunnies">
	<main>
		<h1 class="headings" id="app-title">Ac<span class="text-accent">count</span>ability</h1>
		<h2 class="sub-headings" id="app-subtitle">Bunnies</h2>
	</main>
</Layout>

<style>
	.headings {
		font-size: 40px;
		font-family: "Alfa Slab One", serif;
  		font-weight: 400;
  		font-style: normal;
	}
	.sub-headings {
		font-size: 64px;
  		font-family: "Annie Use Your Telescope", cursive;
  		font-weight: 400;
  		font-style: normal;
	}
</style>
