---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Main Menu">
	<main>
		<nav>
            <a href="#">motivation</a>
            <a href="#">check ins</a>
            <a href="#">goals / actions</a>
            <a href="#">bunny farm</a>
        </nav>
	</main>
</Layout>

<style>
    nav {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    nav a {
        display: inline-block;
        margin: 0 auto;
        font-size: 40px;
  		font-family: "Annie Use Your Telescope", cursive;
  		font-weight: 400;
  		font-style: normal;
        text-align: center;
    }
</style>
