---
import Layout from '../layouts/Layout.astro';
import HeaderBack from '../components/HeaderBack.astro';
---

<Layout title="Motivation">
	<HeaderBack title="motivation"/>
	<main>
		main
	</main>
</Layout>