---
interface Props {
	title: string;
}

const { title } = Astro.props;
import "../styles/global.css";
import "../styles/check-ins.css";
import "../styles/goals.css";
import "../styles/bunny-farm.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Annie+Use+Your+Telescope&family=Life+Savers:wght@400;700;800&family=Pavanam&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	.text-accent {
		color: var(--main-colour);
	}
	#app-title {
		grid-column: 1/-1;
		grid-row: 1;
		font-size: 40px;
		font-family: "Alfa Slab One", serif;
  		font-weight: 400;
  		font-style: normal;
	}
	#app-sub-title {
		grid-column: 1/-1;
		grid-row: 2;
		font-size: 64px;
  		font-family: "Annie Use Your Telescope", cursive;
  		font-weight: 400;
  		font-style: normal;
	}
	#bunny-face {
		width: 100px;
		grid-column: 1/-1;
		grid-row: 3;
	}
	#lets-go-button {
		grid-column: 1/-1;
		grid-row: 4;
		width: 80px;
		height: 30px;
		margin: -50px 0 0;
		padding: 2px 10px;
		font-size: 18px;
		font-family: "Life Savers", cursive;
		font-weight: 800;
  		font-style: normal;
		text-align: center;
		border: solid 1px black;
		border-radius: 12px;
	}
</style>
<script src="../scripts/main.js"></script>
<script src="../scripts/bunnies.js"></script>
