---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Annie+Use+Your+Telescope&family=Life+Savers:wght@400;700;800&family=Pavanam&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--deep-background-colour: rgb(240,240,240);
		--background-colour: rgb(250,250,250);
		--main-colour: rgb(244,66,216);
	}
	/* html,body,main,header,footer,h1,h2,p,a */
	* {
		margin: 0;
		padding: 0;
	}
	a {
		text-decoration: none;
		color: black;
	}
	button {
		width: 158px;
		outline: none;
		drop-shadow: none;
		border: none;
		font-size: 40px;
  		font-family: "Annie Use Your Telescope", cursive;
  		font-weight: 400;
  		font-style: normal;
        text-align: center;
		background-color: var(--background-colour);
	}
	button:hover {
		color: gray;
		cursor: pointer;
	}
	html {
		background-color: var(--deep-background-colour);
	}
	body {
		display: grid;
		grid-template-columns: 1fr minmax(320px, 800px) 1fr;
		grid-template-rows: 100dvh;
	}
	main {
		width: 100%;
		height: 100%;
		grid-column: 2/-2;
		grid-row: 1/-1;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 100%;
		/* overflow: hidden; */
		background-color: var(--background-colour);
	}
	.text-accent {
		color: var(--main-colour);
	}
	.headings {
		margin: 100px 0 50px;
		font-size: 40px;
		font-family: "Alfa Slab One", serif;
  		font-weight: 400;
  		font-style: normal;
	}
	.sub-headings {
		font-size: 64px;
  		font-family: "Annie Use Your Telescope", cursive;
  		font-weight: 400;
  		font-style: normal;
	}
</style>
